.container {
	padding: 0 2rem;
}

.main {
	min-height: 85vh;
	padding: 2rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.footer p {
	text-align: center;
}

.footer p a {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 2rem;
}

.card {
	margin: 3rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 100%;
	width: 60vw;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

@media (max-width: 900px) {
	.card form {
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center !important;
	}
	.card form input {
		width: 100% !important;
		flex: auto !important;
	}

	.card form button {
		width: 100% !important;
		flex: auto !important;
	}
}

.card h2 {
	margin: 0 0 1rem 0;
	/* text-align: center;  */
	font-size: 2.5rem;
}
.card form {
	width: 100%;
	display: flex;
	justify-content: stretch;
	align-items: center;
	margin-top: 20px;
}
.card form input {
	flex: 0.7;
	width: 70%;
	padding: 10px;
	font-size: 1.5rem;
	outline: none;
}
.card form button {
	padding: 10px;
	font-size: 1.5rem;
	flex: 0.3;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	outline: none;
}
.shortUrl {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
